html {
    font-size: 62.5%;
}

section {
    margin: 0 auto;
}

/* GRID */

body {
    display: grid;
    grid-template-areas: "header header header header" "hero hero hero hero" "about about about about" "services services services services" "projects projects projects projects" "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}


/* HEADER */

.header {
    grid-area: header;
}

.header .header-container {
    max-width: var(--max-width-size);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.header h1 {
    font-size: 3rem;
    font-weight: 700;
}

.header nav ul {
    display: flex;
}

.header nav li {
    margin-left: 15px;
}

.header nav li a {
    font-size: 2rem;
    font-weight: 500;
}


/* HERO */

.hero {
    grid-area: hero;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    background: url(../images/sky.jpg) center bottom no-repeat;
    background-size: cover;
    height: 89vh;
    width: 100%;
}

.hero h2 {
    color: #fff;
    margin-top: 60px;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 500;
}

/* ABOUT */

.about {
    grid-area: about;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 600px;
    max-width: var(--max-width-size);
}

.about .item {
    padding: 20%;
}

.about .item h3 {
    font-weight: 700;
    font-size: 4rem;
}

.about .item p {
    font-weight: 400;
    font-size: 1.8rem;
    margin: 30px 0;
}

.about .image {
    height: 100%;
    width: 100%;
}

.about .image.flowers {
    background: url('/src/images/flowers.jpg') center center no-repeat;
    background-size: cover;
}

.about .image.plants {
    background: url('/src/images/plants2.jpg') center center no-repeat;
    background-size: cover;
}

.aboyt .item .btn-know-more {
    font-size: 1.6rem;
}


/* SERVICES */

.services {
    grid-area: services;
    background-color: chartreuse;
    max-width: var(--max-width-size);
}


/* PROJECTS */

.projects {
    grid-area: projects;
    background-color: darkgoldenrod;
}

.footer {
    grid-area: footer;
    background-color: darksalmon;
}