html{
    font-size: 62.5%;
}

section{    
    margin: 0 auto;  
}

/* GRID */
body{
    display: grid;
    grid-template-areas: "header header header header"
                "hero hero hero hero"
                "about about about about"
                "services services services services"
                "projects projects projects projects"
                "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;    
}

/* HEADER */
.header{
    background-color: aqua;
    grid-area: header;    
}

.header .header-container{
    max-width: var(--max-width-size);    
    margin: 0 auto;
    display: flex;    
    justify-content: space-between;
    align-items: center; 
    padding: 20px 40px;
}

.header h1{
    font-size: 1.7rem;
}

.header .menu ul{
    display: flex;
}

.header .menu li{
    margin-left: 15px;
    font-size: 1.7rem;
}

/* HERO */
.hero{
    grid-area: hero;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    background: url(../images/sky.jpg) center bottom no-repeat;
    background-size: cover;
    height: 300px;   
    width: 100%; 
}

.hero h2{
    color: #fff;
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 2.0rem;
    font-weight: 500;
}

/* ABOUT */
.about{
    grid-area: about;
    background-color:dodgerblue;
    display: grid;
    grid-template-columns: 1fr 1fr;    
    min-height: 600px;
    max-width: var(--max-width-size);
}

.about .item{
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-color: red;
}

.about .item h3{    
    font-weight: 700;
}

.about .item p{
    font-weight: 100;
    margin: 10px 0;
}

.about .item a{
    font-size: 1.6rem;
    margin-top: auto; 
}

.about .image{
    height: 100%;
    width: 100%;    
}

.about .image.flowers{
    background: url('/src/images/flowers.jpg') center center no-repeat;
    background-size: cover;
}

.about .image.plants{
    background: url('/src/images/plants2.jpg') center center no-repeat;
    background-size: cover;
}

/* SERVICES */
.services{
    grid-area: services;
    background-color: chartreuse;
    max-width: var(--max-width-size);  
}

/* PROJECTS */
.projects{
    grid-area: projects;
    background-color: darkgoldenrod;
}

.footer{
    grid-area: footer;
    background-color: darksalmon;
}